.container {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .logo-header {
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
  }
  
  .logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
  }
  
  .logo span {
    color: red;
  }
  
  .top-menu a {
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-decoration: none;
  }
  
  div nav {
    display: inline;
  }
  
  a:hover {
    color: #f06c64;
  }
  
  .logo-bottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
  }
  
  .slider-main-background {
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
  }
  
  .slider-bottom-background {
    width: 1020px;
    height: 15px;
    background-color: #ea676b;
  }
  
  .left-arrow:hover,
  #slider-right-arrow:hover {
    object-fit: cover;
    opacity: 0.4;
  }