.container {
max-width: 1020px;
margin-right: auto;
margin-left: auto;
}

.logo-header {
  background-image: url( "../assets/Header.png");
  margin-bottom: -12px;
}

a {
   text-decoration: none;
}

.top-menu {
    display: inline;
    position: absolute;
    margin-top: 40px;
    margin-left: 450px;
    color: white;
}

.top-menu a {
    text-transform: uppercase;
}

a:hover {
    color: red;
}

div nav {
    display: inline;
}

.slider {
    margin-top: -5px;
}

.slider img {
    position: absolute;
}

#slider-right-arrow {
    left: 945px;
    position: relative;
}

.left-arrow {
    z-index: 1;
}

.left-arrow:hover,
#slider-right-arrow:hover {
    object-fit: cover;
    opacity: 0.4;
}